@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.fonditoPrincipal{
  background-image: url("../../public/images/Rectangle.png");
}
.fonditoPrincipalChico{
  
}
.fontpoppins-xs{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.fontpoppins-s{
  font-family: 'Poppins', sans-serif;
  font-weight:300
}
.fontpoppins-m{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.fontpoppins-l{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.fontpoppins-xl{
  font-family: 'Poppins', sans-serif;
  font-weight:900 ;
}